*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.starting-nav{
    background-color: #223A66;
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.header-nv{
display: flex;
justify-content: space-between;
padding: 7px;
}
p{
    margin-bottom: 0px !important;
}
.start-letter{
    display: flex;
    align-items: center;
    gap: 10px;
    align-content: center;
}
.hr_tag{
    background-color: white;
    width: 2px;
    height: 25px;
    border: 2px;
}
.call{
    font-weight: 600;
}
.nav-bar{
    width: 80%;
    margin: auto;
}
.logo{
    width: 200px;
}
.nav-bar{
    font-weight: 600;
    font-size: 17px;
    height: 12vh;
}
.nav-item{
    margin: 10px;
}
.home-one{
    background-image: url(assets/home-img.jpg);
    position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
 .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(home-img.jpg); /* your image */
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 41, 83, 0.7); /* color + transparency */
}
.home-contents{
    top: 20%;
    position: absolute;
    left: 12%;
    width: 50%;
}
.high-txt{
    font-size: 65px;
    font-weight: 900;
}
.consult{
    font-size: 30px;
    font-weight: 700;
}
.hero{
  position: relative;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.normal-txt{
    font-size: 25px;
    margin-bottom: 5px;
}
.readmore-btn{
    padding: 7px;
    border: 0px;
    background-image: linear-gradient(180deg, #2390C5 0%, #4F29F2 100%);
    color: white;
    width: 8vw;
    font-weight: 600;
}
.container2{
    width: 80%;
    margin: auto;
}
.welcoming-div{
    display: flex;
    gap: 40px;
    margin: 20px;
    margin: 40px;
    padding-top: 20px;
    align-items: center;

}
.welcom-cont{
    width: 45%;
}
.welcom-txt{
    color: #223A66;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
    width: 90%;
    letter-spacing: 1px;
}
.welocm-txt2{
    font-size: 18px;
    color: rgb(79, 78, 78);
    font-family: Geneva, sans-serif;
    width: 95%;
}
.table-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    justify-content: space-between;
}
.row1>p{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
.servicestack{
    color: #093078;
    width: 40px;
}
.services{
    text-align: center;
    padding: 40px;
    background-color: rgb(210, 212, 214);
}
.doctor{
    font-size: 45px;
}
.serv{
    width: 100%;
    padding: 10px;
    font-size: 35px;
}
.serv-txt{
    color: black;
    font-family: sans-serif;
    width: 100%;
}
.choice-div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.first{
    display: flex;
    text-align: right;
    gap: 20px;
    margin: 20px;
} 
.emg1{
    text-align: left;
}
.e-serv{
    color: #223A66;
    font-weight: 600;
    font-size: 20px;
}
.medico{
    font-size: 25px;
    background-color: #223A66;
    color: white;
    padding: 20px;
    border-radius: 50%;
}
.doctor2{
    width: 100%;
}
.avb{
    font-size: 16px;
    text-align: right;
    margin: right;
    font-weight: 400;
}
.avb1{
      font-size: 16px;
    text-align: left;
    margin: left;
    font-weight: 400;
}
.whole-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}
.card1{
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px;
    padding: 28px;
    width: 31%;
    color: #223A66;
    border-bottom: 3px solid #223A66;
}
.card-img{
    font-size: 50px;
}
.card-head{
    color: #223A66;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    word-spacing: 1px;
}
.card-txt{
    font-size: 18px;
    color: rgb(65, 62, 62);
}
.best{
    background-image: url(assets/operation.jpg);
    position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
 .hero1 {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url(assets/operation.jpg); /* your image */
  background-size: cover;
  background-position: center;
}

.hero2{
     background-image: url(assets/cc1.jpeg);
}
.bst-dr{
background-image: url(assets/cc1.jpeg);
}
.bst-srv,.hero3{
    background-image: url(assets/service-scaled.jpg);
}

.best-tbl{
    gap: 0.6px;
    display: flex;
    flex-wrap: wrap;
}
.best-div{
    display: flex;
    gap: 20px;
    padding-top: 50px;
    margin: auto;
    margin-top: 30px;
    align-items: center;
}
.best-content{
    color: white;
    align-items: center;
    width: 55%;
}
.abt-best{
     height: 40vh !important;
}
.abt-hero{
    height: 40vh !important;
}

.card2{
    width: 47%;
background-color: white;
padding: 20px;
    color: #223A66;
    text-align: center;
}
.consult1{
    font-size: 50px;
    font-weight: 700;
}
.operations{
    font-size: 50px;
    font-weight: 700;
}
.doctors-card{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px;
}
.card-img2,.clnt{
    width: 100%;
}
.card3{
    width: 25%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}
.dr-name{
    padding: 7px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
.social-media{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 7px;
    margin-bottom: 10px;
}
.social-media>i{
    color: rgb(210, 166, 20);
    border-radius: 20px;
    font-size: 35px;
}
.special{
    font-size: 18px;
}
.client-div{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.clnt{
    font-size: 20px;
}
.cl-txt{
    font-size: 18px;
}
.client-cont{
    width: 100%;
    margin: 20px;   
    flex: 3;
    color: #223A66;
}
.review-table{
    flex: 7;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.review-box{
    border: 2px solid #223A66;
    padding: 20px;
    width: 38%;
    text-align: center;
    background-color: rgb(243, 242, 231);
}
.box-txt{
    font-size: 18px;
}
.dc-name{
    color: #093078;
    font-size: 18px;
    font-weight: 700;
}
.rev{
    width: 5vw;
    border-radius: 100%;
    height: 10vh;
}
.review-profile{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 12px;
    align-items: center;
    padding-top: 10px;
}
.rev-txt{
    font-size: 18px;
}
.achive{
    background-color: rgb(244, 244, 244);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.achivements{
    display: flex;
    gap: 40px;
    margin: 20px;
    align-items: center;
}
.achive-pic{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.awards{
    width: 12vw;
    height: 17vh;
    border: 1px solid black;
}
.achiv{
    font-size: 45px;
    color: #223A66;
    font-weight: 700;
    border-bottom: 2px solid #223A66; 
}
.footer1{
    background-color: rgb(32, 31, 31);
    color: white;
    padding: 20px;
}
.footer-main{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.footer-logo{
    width: 20%;
}
.logo-img{
    width: 250px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.footer-cont{
    font-size: 16px;
}
.footer-list>li{
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
}
.footer-list>h4{
    border-bottom: 2px solid white;
    padding: 10px;
}
.foot-img{
    font-size: 18px;
    padding: 10px;
}
.social{
    display: flex;
    gap: 20px;
    margin: 20px;
    font-size: 30px;
    color: white;
}
.facebook{
    color: rgb(38, 75, 170);
    
}
.utube{
    background-color: red;
}
.foot-end{
    background-color: rgb(55, 56, 58);
    text-align: center;
    font-size: 18px;
    padding: 12px;
    color: white;
}
.lorem{
    font-size: 17px;
}
@media screen and (max-width:750px){
    .start-letter{
        flex-wrap: wrap;
        text-align: center;
        display: flex;
        flex-direction: column;;
    }
    .header-nv{
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .welcoming-div{
        flex-wrap: wrap;
        margin: 0px;
        padding: 10px;
    }
    .hr_tag{
        display: none;
    }
    .logo{
        order: 100;
        width: 100px;
    }
    .navbar-toggler{
        order: 99;
    }
    .nav-bar{
        width: 100%;
        height: auto;
    }
    .consult{
        font-size: 20px;
        padding: 10px;
    }
    .high-txt{
        font-size: 30px;
        width: 100%;
        padding: 10px;
    }
    .home-contents{
        width: 100%;
        left: 0;
        padding: 20px;

    }
    .normal-txt{
        font-size: 17px;
        padding: 10px;
    }
    .readmore-btn{
        width: 45%;
    }
    .d1-img,.welcom-cont{
        width: 100%;
    }
    .container2{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .welcom-txt,.best-content{
        width: 100%;
        letter-spacing: normal;
    }
    .card1,.card3,.review-box{
        width: 100%;
    }
    .table-div{
        gap: 0px;
    }
    .services{
        padding: 0px;

    }
    .choice-div{
        flex-wrap: wrap;
    }
    .m1{
        order: 99;
    }
    .emg{
        order: 100;
    }

    .serv,.consult1{
        font-size: 24px;
    }
    .whole-cards{
        margin: 0px;
    }
    .best-div{
        flex-wrap: wrap;
        padding: 10px;
    }
    .card2{
        width: 100%;
        margin: 10px;
    }
    .best,.hero1{
        height: 170vh;
    }
    .doctor2{
        width: 100%;
    }
    .doctors-card{
        flex-wrap: wrap;
    }
    .client-cont,.review-table{
        text-align: center;
        margin: 0px;
    }
    .client-div{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .rev{
        width: 18vw;
    }
    .achivements{
        flex-wrap: wrap;
        margin: 0px;
        gap: 0px;
    }
    .achiv{
        font-size: 25px;
    }
    .awards{
        width: 40vw;
    }
    .logo-img{
        width: 200px;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-main{
        flex-wrap: wrap;
        justify-content: start;
    }
    .foot-end{
        font-size: 16px;
    }
    .start-letter>p{
        font-weight: 500;
        font-size: 15px;
        padding: 5px;
    }
    .abt-block{
        flex-wrap: wrap;
    }
    .down-block{
        padding: 0px !important;
        padding-bottom: 20px !important;
    }
    .abt-card{
        width: 95% !important;
    }
    .about-img{
        flex-wrap: wrap;
        justify-content: center;
    }
    .abt-img{
        width: 95% !important;
    }
    .service-whole{
        margin: 0px !important;
    }
    .whole-divs{
        flex-wrap: wrap;
        margin: auto !important;
        justify-content: center;
    }
    .serv-subdiv{
        flex-wrap: wrap;
        gap: 0px !important;
    }
    .serv-div{
        width: 100% !important;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .service-content{
        padding: 10px !important;
    }
    .medicare{
        width: 250px !important;
        padding: 10px;
    }
    .about-us{
        font-size: 25px !important;
    }
    .seq{
        font-size: 15px !important;
        align-items: center !important;
        gap: 5px !important;
        font-weight: 500;
    }
    .doctor-div{
        margin: 0px !important;
    }
    .doctor-container{
        margin: 0px !important;
    }
    .doc-card{
        width: 90% !important;
    }
    .cont-whole{
        flex-wrap: wrap;
        margin: 0px !important;
    }
    .address{
        width: 95% !important;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .addre{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .form-vall{
        padding: 20px !important;
    }
    .txt{
        font-size: 17px !important;
        font-weight: 500 !important;
    }
}

